header{ 
    position: sticky;
    width: 100%;
    background-color: cadetblue;
    opacity: 0.9;
    font-size: 3em;
    padding-top: 0.5em;
    top: 0;
    z-index: 999;
}

nav{
    margin: 1em;
    border-radius: 10px;
    border-width: medium;
    border-color: black;
    border-style: double;
    background-color: rgb(204, 232, 223);
    
}

img{
    max-width: 100%;
    height: auto;
}

h2{
    text-indent: 0.3em;
    width: 30%;
    margin: 1em;
    padding: 0;
    border-width: 0 0 medium 0;
    border-style: ridge;
    border-color: black;
}

p{
    margin: 0.5em;
}

footer{
    padding: 0.5em;
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}