body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: sticky;
    top: 0;
    background-color: cadetblue;
    opacity: 0.9;
    padding: 10px;
    z-index: 999;
}

.logo-search {
    display: flex; /* Flexboxを使用して要素を横並びに配置 */
    align-items: center; /* 縦方向の中央揃え */
}

.logo-search form {
    margin-left: 50px; /* 画像とフォームの間に隙間を設定 */
}

.logo-search input[type="text"] {
    width: 300px; /* テキスト入力フィールドの幅を設定 */
    height: 40px; /* テキスト入力フィールドの高さを設定 */
    padding: 5px; /* テキスト入力フィールドの内側の余白を設定 */
    font-size: 16px; /* テキスト入力フィールドのフォントサイズを設定 */
}

.logo-search button[type="submit"] {
    height: 40px; /* 送信ボタンの高さを設定 */
    padding: 5px 10px; /* 送信ボタンの内側の余白を設定 */
    font-size: 16px; /* 送信ボタンのフォントサイズを設定 */
}

.container {
    display: flex;
}

nav {
    position: sticky;
    top: 100px;
    width: 200px;
    min-width: 200px; /* 最小幅を指定 */
    max-width: 200px; /* 最大幅を指定 */
    height: 100vh;
    background-color: rgb(204, 232, 223);
    border-radius: 10px;
    border: double black;
    margin-left: 10px;
}

main {
    flex-grow: 1;
    padding: 20px;
    scroll-padding-top: 100px
}

main img {
    max-width: 100%;
    height: auto;
}

.bottomline {
    text-indent: 0.3em;
    width: 40%;
    margin: 1em 0;
    border-bottom: medium ridge black;
}

p {
    margin: 0.5em 0;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
